
<div class="container">
    <div>
      <div class="col-xs-12">
        <div class="form-group">
          <label for="taskId"> Task ID</label>
          <input type="text" class="form-control" id="taskId" [(ngModel)]="taskIdInput">
          <p>{{ taskIdInput }}</p>
        </div>
        <div class="form-group">
          <label for="taskDesc">Task Description</label>
          <input type="text" class="form-control" id="taskDesc" [(ngModel)]="taskDescInput">
          <p>{{ taskDescInput }}</p>
        </div>
        <div class="form-group">
          <label for="taskDetails">Task Details</label>
          <textarea class="form-control" name="taskDetails" id="taskDetails" cols="30" rows="5" [(ngModel)]="taskDetaialsInput"></textarea>
          <p>{{ taskDetaialsInput }}</p>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" (onclick)="taskAdd()"> Add Task</button>
        </div>
        <!-- <div>
          <p>
            test input {{ tasks.taskId }}, {{ tasks.taskDesc }}, {{ tasks.taskDetails }}</p>
        </div> -->
      </div>
    </div>
    <em>
      <strong>
        <h6>odd numbers counter</h6>
        <p *ngIf="counter%2 != 0" style="color:sienna">{{ counter }} is an odd number</p>
      </strong>
    </em>
</div>

