<div class="container">
            <div class="form-group">
              <label for="taskId"> Task ID</label>
              <input type="text" class="form-control" id="taskIdInput" [(ngModel)]="task.taskId">
              <p>{{ task.taskId }}</p>
            </div>
            <div class="form-group">
              <label for="taskDesc">Task Description</label>
              <input type="text" class="form-control" id="taskDescInput" [(ngModel)]="task.taskDesc">
              <p>{{ task.taskDesc }}</p>
            </div>
            <div class="form-group">
              <label for="taskDetails">Task Details</label>
              <textarea class="form-control" name="taskDetails" id="taskDetailsInput" cols="30" rows="5" [(ngModel)]="task.taskDetails"></textarea>
              <p>{{ task.taskDetails }}</p>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" (click)="addTask()"> Add Task</button>
            </div>
          </div>

